* {
	outline: none;
}
h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	color: #000;
}
ul {
	padding: 0;
	list-style: none;
	margin-bottom: 0;
}
html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body {
	-background-color: #edeef0;
	background: linear-gradient(104.05deg, #E6E6E6 -2.75%, #D4DAE8 104.59%);
	font-family: 'Poppins', sans-serif;
	width: 100%;
}